<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue-project-demo</title>
    
        <link href="//fedemo.mama.cn/vue-project/dist/vendor-84f7a178.css" rel="stylesheet">
        
        <link href="//fedemo.mama.cn/vue-project/dist/app-ae79cecb.css" rel="stylesheet">
        
</head>

<body>
    <div id="app">
        <router-view></router-view>
    </div>
    
        <script src="//fedemo.mama.cn/vue-project/dist/z-mainifest-f1d6f959.js"></script>
        
        <script src="//fedemo.mama.cn/vue-project/dist/vendor-725dfe9d.js"></script>
        
        <script src="//fedemo.mama.cn/vue-project/dist/app-b659916e.js"></script>
        
</body>

</html>